.ul-wrap{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    padding: 2rem;
    background: linear-gradient(to right, #fdfffc , #f0ffec);
}
.ul-wrap li {
    list-style: none;
}

.ul-wrap li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #b5c3c4;
}

.ul-wrap li a.active{
    color: #4ec1c4;
    border-bottom: solid 3px #4ec1c4;
}