.status{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
    width: 100%;
}

.textBox{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem;
    border: 6px double #141414;
    border-radius: 0.5rem;
}

.nameBox{
    display: flex;
    gap: 2rem;
}
.lvBox{
    display: flex;
    flex-direction: column;
}
.img{
    width: 15rem;
}
.xp-bar{
    width: 15rem;
}

@media (max-width: 425px) {
    .status{
        flex-direction: column;
        align-items: center;
    }
}