.status{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
    width: 100%;
}

.textBox{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem;
    border: 6px double #141414;
    border-radius: 0.5rem;
    background-color: #ffffff;
}

.nameBox{
    display: flex;
    gap: 2rem;
}
.lvBox{
    display: flex;
    flex-direction: column;
    position: relative;
}
.img{
    overflow: hidden;
    width: 15rem;
    transform: scale(1.4);
}
.xp-bar{
    width: 15rem;
}
.block{
    font-size: 0.5rem;
    position: absolute;
    display: block;
    left: 1.9rem;
    top: 1.3rem;
    height: 0.7rem;
    background: #ffffff;
    color: #ffffff;
}

@media (max-width: 425px) {
    .status{
        flex-direction: column;
        align-items: center;
    }
}