.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .modal{
    position: fixed;
    width: 50%;
    height: 25%;
    background-color: #ffffff;
    z-index: 100;
    left: 25%;
    top: 37.5%;
    font-size: 2rem;
    border: 6px double #141414;
  }
  .modal img{
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .modal-text{
    position: fixed;
    width: 50%;
    height: 10%;
    background-color: #ffffff;
    z-index: 100;
    left: 25%;
    top: 40%;
    font-size: 2rem;
    border: 6px double #141414;
  }
  .content{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }